@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.richTextEditor {
  .container {
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg12;
  }

  .aopRte {
    border: 1px solid #ddd;
    width: 770px;
  }
}